.wrapper{
  background-color: rgb(83, 83, 83);
  min-height: 200vh;
}
nav{
  background-color: rgba(0, 0, 0, 0.514);
}
.hero{
  height: 80vh;
  position: relative;
  padding-top: 2rem;
  
}
.hero::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.457);
  z-index:0;
}
.hero-content{
  z-index: 2;
  position: absolute;
  transition: all 0.3s linear;
  top:30%;
  left: 50%;
  transform: translate(-50%,0%);
}

.top{
  position: absolute;
  top:10%;
  left: 50%;
  transform: translate(-50%,0%);
}

/* movie card start */
.movie-card-display{
  background: rgba(255, 255, 255, 0.508);
  backdrop-filter: blur(5px);
  width: 500px;
 
}
.movie-card-display img{
  width: 100%;
  height: auto;
}


/* movie card end */

/* show movie card animation */
.show-movie{
  transform: scale(1);
  animation: zoom 0.5s;
}
/* display section  */
.display{
  
}
@keyframes zoom {
  0%{
    transform: scale(0);
  }
  25%{
    transform: scale(0.25);

  }
  50%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}
@media (max-width:768px) {
    .movie-card-display {
      width: 300px;
     
    }
  .movie-card-display img{
    max-height: 150px;
    object-fit: cover;
  }
  
}